*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: #F6F6F6;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;

}

button {
	border: none;
	background-color: #fff;
}

.header {
	border-bottom: 1px solid black;
	height: 71px;
	font-family: RF Dewi Extended;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.container {
	margin: 0 auto;
	padding: auto 0;
	display: flex;
	width: 1440px;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	justify-content: space-between;
	padding-left: 45px;
}

.menu {
	width: 720px;
	display: flex;
	height: 71px;
	justify-content: flex-end;
	align-items: center;
}

.test {
	width: 185px;
	display: flex;
	padding: 27px 45px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-right: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
}

.training {
	width: 296px;
	display: flex;
	padding: 27px 48px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.search {
	width: 76px;
	display: flex;
	height: 68px;
	padding: 27px 30px;
	align-items: flex-start;
	gap: 10px;
	border-right: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
}

.lang {
	width: 76px;
	display: flex;
	padding: 27px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.burger {
	width: 87px;
	display: flex;
	height: 68px;
	padding: 30px 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 35px;
	border-left: 1px solid #BABABA;
}

.swiper {
	width: 675px;
	margin: 0;
}

.main {
	border-bottom: 1px solid var(--gray, #7C7C7C);

}

.main__info {
	/* width: 720px; */
	padding: 48px 0px 23px 0px;
	border-right: 1px solid var(--gray, #7C7C7C);
	border-left: none;
	border-top: none;
}

.news {
	height: 32px;
	font-family: RF Dewi Extended;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	padding: 9px 21px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 27px;
	border: 1px solid var(--gray, #7C7C7C);
	margin-bottom: 100px;
}

.podrobnee {
	border-radius: 30px;
	border: 1px solid #7C7C7C;
	display: flex;
	width: 220px;
	padding: 15px 16px 15px 20px;
	align-items: center;
	gap: 49px;
	margin-bottom: 102px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px 0 0;
}

.polosa {
	display: inline-block;
	top: 663px;
	height: 1px;
	width: 50%;
	position: absolute;
	background-color: #7C7C7C;
}

.slide-title {
	display: block;
	width: 617px;
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 50px;
}

.descr {
	width: 440px;
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 144%;
	/* 23.04px */
	margin-bottom: 50px;

}

.instr {
	display: flex;
	width: 100%;
	height: 105px;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	justify-content: space-between;
	padding-right: 35px;
}

.arrows {
	display: flex;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	justify-content: space-between;
	margin-top: 18px;
}

.swiper-pagination {
	text-align: left;
	position: relative;
	margin-top: 47px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	width: 20%;
}

.swiper-pagination-bullet {
	border-radius: 0;
	border: 1px solid #393939;
	opacity: 1;
	background-color: #fff;

}

.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: #393939;
}

.swiper-button-prev {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
	content: '';
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after {
	content: '';
}

.swiper-button-next, .swiper-button-prev {
	position: static;
	margin: 0;
}

.swiper-button-next {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
}

.swiper-button-next>img {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
}

.main__photo {
	display: flex;
	width: 645px;
	justify-content: center;
	align-items: center;
	margin-right: 37px;
}


.about {
	border-bottom: 1px solid var(--gray, #7C7C7C);
}

.description__title {
	margin-top: 122px;
	color: #E93E19;

	font-family: RF Dewi Extended;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: 177.5%;
	/* 62.125px */
	text-transform: uppercase;
}

.description__descr {
	color: #E93E19;

	font-family: RF Dewi Extended;
	font-size: 35px;
	font-style: normal;
	font-weight: 600;
	line-height: 177.5%;
	/* 62.125px */
	letter-spacing: 0.7px;
	text-transform: uppercase;
	width: 1000px;
	margin-bottom: 41px;
}

.description__podtext {
	color: var(--gray-1, #393939);
	width: 650px;
	font-family: RF Dewi Extended;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 144%;
	margin-bottom: 125px;
	/* 28.8px */
}

.aboutfond {
	display: flex;
	width: 160px;
	align-items: center;
	gap: 15px;
	height: 44px;
	margin-top: 131px;
	margin-right: 45px;
}

.fondimg {
	width: 44px;

}


.info {
	padding: 65px 0 65px;
	border-bottom: 1px solid #7C7C7C;
}


.info__wrapper {
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	justify-content: space-between;
}

.info__block {
	display: inline-flex;
	align-items: center;
	gap: 25px;
}

.info__miniblock {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.number {
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.info__title {
	color: var(--gray-1, #393939);

	font-family: RF Dewi Extended;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 173.5%;
	/* 34.7px */
}

.info__descr {
	color: rgba(57, 57, 57, 0.80);

	font-family: RF Dewi Extended;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 173.5%;
	/* 24.29px */
}

.two {
	margin-bottom: 145px;
}

.fond__facility {
	border-bottom: 1px solid #7C7C7C;

}

.facility__title {
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.fac {
	margin-top: 0;

	width: 260px;
}

.aboutfond__text {
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.32px;
	text-transform: uppercase;
}


.facility {
	border-bottom: 1px solid #7C7C7C;
}



.event {
	padding: 60px 35px 60px 0;
	border-right: 1px solid #7C7C7C;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 695px;
	/* align-items: flex-start;
	gap: 5px; */
}



.event__title {
	display: inline-block;
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;

	/* 0px */
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.bot {
	display: flex;
	align-items: flex-end;
	gap: 87px;
}

.event__descr {
	color: #595959;
	font-family: RF Dewi Extended;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 169.5%;
	/* 23.73px */
}

.event__img {
	width: 110px;
}

.photo {
	width: 655px;
}

.right {
	border: none;
}

.pad {
	padding-left: 40px;
}


.photo-main {
	border-bottom: 1px solid #7C7C7C;
	padding-top: 120px;
}

.photo__title {
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 60px;
}


.phot {
	margin-top: 0;
	width: 170px;
}

.photogallery {
	padding: 45px 0px 50px;
	border-bottom: 1px solid #7C7C7C;
}

.event-pic {
	width: 130px;
}

.marg {
	padding-top: 150px;
	padding-bottom: 55px;
}


.bnews {
	border-bottom: 1px solid #7C7C7C;
}

.bnews__item {
	padding-top: 40px;
	padding-right: 45px;
	display: inline-block;
	border-right: 1px solid #7C7C7C;

}

.bnews__img {
	width: 390px;
	margin-bottom: 45px;
}

.nopad {
	padding-left: 0px;
}

.bnews__title {
	color: var(--gray-1, #393939);
	font-family: RF Dewi Extended;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	width: 215px;
	margin-bottom: 20px;
}

.bnews__descr {
	color: #595959;
	font-family: RF Dewi Extended;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 169.5%;
	/* 23.73px */
	width: 345px;
	margin-bottom: 65px;
}




.noborder {
	border: none;
}